<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
    <!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE- 2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    -->

    <title>Apache River - {{page.title}}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta property="og:image" content="//www.apache.org/images/asf_logo.gif"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/css/river.css" media="screen">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <style type="text/css">
    {% include "styles.css" %}
    </style>
</head>

<body style="padding-top: 50px;">
<div class="navbar navbar-default navbar-fixed-top">
    {% include "topnav.html" %}
</div>


<div class="container">
    <div class="space-lg"></div>
    <div class="clear"></div>
    <div id="content">
     {% block content %}{% endblock %}
    </div>
    <hr>
    {% include "footer.html" %}
</div>

<!-- tooltip delay is too long, but could not find where it is set in the theme or bootstrap -->
<script>
$(document).ready(function(){
    $('a').tooltip({delay: {show: 700, hide: 200}});
});
</script>
</body>
</html>
